<!DOCTYPE html>
<html>
 <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
   
   <link href='http://fonts.googleapis.com/css?family=Roboto:400,900' rel='stylesheet' type='text/css'> 
   
     <link rel="stylesheet" type="text/css" href="css/style.css">
  <meta charset="UTF-8">
  <title>Virtual Closet</title>

 </head>
  
 <body>
   
   <div id="header">
     
    <h1>Twirl</h1>
   </div>
   <h2>Your virtual closet</h2>
  
   <a href= "login" > <button id="button1" type="button"> DRESS ME!</button></a> 
   


 
 <video autoplay loop poster="clueless.mp4" id="bgvid">

<source src="images/clueless.mp4" type="video/mp4">


</video>
   
     
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script> 
   
   
    
 </body>
</html>