
<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Log in</title>
   <link rel="stylesheet" href="css/style3.css">
   <link href='http://fonts.googleapis.com/css?family=Niconne' rel='stylesheet' type='text/css'>
 </head>
 <body>
   <form method='Post' action='/closet'>

    <p id="username"> Please Enter Username:
      <br>
      <input type= 'text' name="username"> </p>
 <p id="password"> Please Enter Password:
      <br>
   <input type= 'password' name="password"> </p>
    <input id="submit" type = 'submit'>
   </form>
 </body>
</html>
